.biography {
	background-color: $body;
	margin: 1em 0;
	.left {
		height: 600px;
		background-size: cover;
		background-position: center;
	}
	.right {
		padding-left: 1em;
	}
	.left, .right {
		margin: 1em 0;
	}
}

.fast-facts {
	background-color: $title;
	margin-bottom: 1em;
	width: 100%;

		.large-behind-text {
		position: relative;
		img {
			max-width: 100%;
			position: absolute;
			top: 0;
		}
	}
	h3 {
		text-align: left;
		border-bottom: 1px solid $dark;
		
	}
	.facts-inner {
		text-align: center;
		ul {
			li{
				display: block;
				font-family: $new;
				font-size: 1em;
				a {
					color: $dark;
					font-family: $header;
					&:hover {
						color: $dusty;
					}
				}
			}
		}
	}
}