.galleryContainer {
	dt.gallery-icon.landscape {
		float: left;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}




.post-sidebar {
	.sidebar-image {
		img {
			max-width: 70%;
		}
		.gallery-box {
			p{
				color: $dark;
				span {
					color: $bright;
					font-family: $header;
				}

			}
		}
	}
}