/*** Upper Gallery ***/

.main-galleryContainer {
	.gallery-item{
		float: left;
		position: relative;
		margin: 0.5em;
		dt.gallery-icon.landscape {
			float: left;
			position: relative;
		}
		.wp-caption-text.gallery-caption {
		 	position:absolute;
	   		background-color: $title;
			font-family: $header;
	  		width: 100%; 
	  		bottom: 0;
	  		margin-left: 0;
	  		text-align: center;
	  		text-transform: uppercase;
		}
	}
	// .post-sidebar {
	// 	background-color: $body;
	// 	text-align: center;
	// 	margin-top: 1em;
	// 	.page-title {
	// 		h1 {
	// 			font-size: 1.5em;
	// 			text-align: left;
	// 			padding: 1em;
	// 		}
	// 	}
	// }
}

/*** Lower Gallery ***/

.galleryContainer {
	margin-bottom: 2em;

    .gallery {
    	
    	.gallery-item {
		margin-bottom: 0;
		.wp-caption-text.gallery-caption {
			display: none;
			}
		}
		dt.gallery-icon.landscape,
		dt.gallery-icon.portrait{
			float: left;
			opacity: 0.7;
			padding: 0.3em;
			&:hover {
				opacity: 1;
			}
		}
    }
	

}
.posts-more {
	background: $dusty;
	padding: 1em;
	h3 {
		font-family: $header;
		border-bottom: 1px solid $paper;
		color: $paper;
	}
	p {
		font-family: $header;
		a {
			color: $paper !important;
		}
	}
}

// h3.bottom-section-title {
// 	z-index: 500;
// 	position: relative;
// 	width: 100%;
// 	margin: 1em auto;
// 	font-family: $bold;
// 	border-bottom: 1px solid $dark;
// 	color: $dark;
// }