.news { 
	background: $body;
	min-height: 300px;
	margin-bottom: 1em;
	.large-behind-text {
		position: relative;
		img {
			max-width: 100%;
			position: absolute;
			top: 0;
		}
	}
	
	.the-post {
		margin-top: 1em;
		z-index: 500;
		margin-left: 2%;
		position: relative;
		height: 445px;
	    .post-inner-info {	
			width: 100%;
			.post-pic {
				height: 300px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center top;
				position: relative;
			}
		}

		h5 {
			font-family: $bold;
		
			a{
				color: $dark;
			}
		}
		p.tags {
			color: $text;
			margin: 0;
			background-color: $body;
			position: absolute;
			bottom: 0;
			font-family: oswaldregular;
    		padding: .5em;
    		margin-bottom: 0;
		}
	}
	.section-more {
		margin-top: 3em;
		a.section-btn {
			background: $bright;
			border: 1px solid $bright;
			font-family: $para;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
			color: $paper;
			padding: 1em 2em;
			float: right;
			margin-right: 1em;
			margin-bottom: 1em;
			
			&:hover {
				color: $dark;
				border: 1px solid $bright;
				background: transparent;

			}
		}
	}
}


.image-links {
	background: $title;
	min-height: 400px;
	margin-bottom: 1em;
	width: 100%;

	.large-behind-text {
		position: relative;
		img {
			max-width: 100%;
			position: absolute;
			top: 0;
		}
	}
	.the-links {
		position: relative;
	    margin: 0;
	    margin-left: 1%;	   
	}	
}



.news-blog {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: #f2eeed;
	.news-inner {
		display: flex;
  		justify-content: center;
  		align-items: center;
	}
	.the-post {
		float: left;
		padding: 1em;
		&:nth-child(4){
			margin-left: 0;
		}
		.post-pic {
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			position: relative;
			p {
				position: absolute;
				bottom: 0;
				color: $bright;
				font-family: $paraBold;
				background-color: $paper;
				padding: 0.5em;
				margin-bottom: 0;
			}
		}
		.post-inner-info {	
			width: 100%;
			h3 {
				margin: 0;
				a {
					font-family: $header;
					color: $bright;
				}
			}
			p.tags {
				color: $bright;
				margin: 0;
			}
		}
	}
}

.image-links {
	background: #c0b283;
    min-height: 400px;
    margin-bottom: 1em;
    position: relative;
	.images {
		height: 252px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    border: 10px solid transparent;
		box-shadow: inset 0 0 0 4px $dusty;
		.links-inner {
			text-align: center;
			h3{
				font-family: $para;
				color: $bright;
			}
			p{
				margin-bottom: 0;
				color: $bright;
			}
		}
	}
}

.upcoming-eps {
	background: $dusty;
	margin-bottom: 1em;
	.large-behind-text {
		position: relative;
		img {
			max-width: 100%;
			position: absolute;
			top: 0;
			opacity: 0.1;
		}
	}
	.upcoming-inner {
		padding: 4em 2em;
		color: $paper;
		h3.section-title {
			width: 100%;
		}
	}
}

.instagram {
	background-color: $body;
	text-align: center;
	margin-bottom: 1em;
	h3 {
		padding-top: 0.5em;

		a {
			color: $dark;
			&:hover {
				color: $brighter;
			}
		}
	}
}