.mobile-title {
	background-color: $bright;
	color: $paper;
	font-size: 2em;
	border-bottom: 1px solid $bright;
	text-align: center;
	line-height: 1em;
	padding: 0.2em 0;
	z-index: 9999;

	h1 {
		margin-bottom: 0;
	}
	span.light {
		color: #9e6b98;
		opacity: 0.3;
		font-family: $bold;
	}
	span.fancy {
		color: $paper;
		font-family: $thin;
		text-align: right;
	}
}



.welcomeHero {
	background-color: $bright;
	position: relative;
	height: 600px;
	width: 100%;
	height: 600px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    opacity: 0.8;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	.wendi {
		height: 600px;
		width: 100%;
    	background-size: cover;
    	background-position: center center;

	}


	.title.hide {
		position: absolute;
		bottom: 0;
		text-align: center;
		img.title-me {
			max-width: 95%;
		}
	}
}



.welcome-bottom {
	position: relative;
	text-align: center;
	background: $dark;
	font-family: $links;
	margin-bottom: 1em;
	p {
		margin: 0;
		color: $paper;
		padding: 0.5em;
		font-size: 1.2em;
		text-transform: uppercase;
	}
}