/*** Lower Gallery ***/

.project-info {
		margin-top: 1em;
		// margin-left: 1em;
		font-size: 1em;
		background-color: $body;
	
		height: auto;
		h4 {
			font-family: $new;
			background-color: $bright;
			color: $paper;
			padding: 0.5em;
			margin-bottom: 0;
		}
		ul {
			padding: 1em;
			margin-bottom: 0;
			li {
				font-family: $new;
				padding-right: 0.5em;
				letter-spacing: 0.05em;
				
				span {
					// color: $title;
					font-family: $new;
					text-decoration: underline;
				}
				a {
					color: $dusty;
				}
			}
			
		}
	}


.twelve.columns.inside.galleryLower {
	
	.gallery-lower {
		
	// 	margin: 0;
	// margin-top: 1em;
	// margin-bottom: 2em;
		.gallery {
			display: flex;
   			flex-direction: row;
   			align-items: center;
   			justify-content: center;
   			flex-direction: row;
  			flex-wrap: wrap;
	    	dl.gallery-item {
				 float: left;
			.wp-caption-text.gallery-caption {
				display: none;
				}
				dt.gallery-icon.landscape,
				dt.gallery-icon.portrait{
					float: left;
					opacity: 0.7;
					padding: 0.3em;
					&:hover {
						opacity: 1;
					}
					img {
						outline: 1px solid $paper;
	  				outline-offset: -4px;
					}
				}
			}

		}
	}
	.related-pages {
		background-color: $body;
		ul {
			margin-bottom: 0;
			padding: 0.5em;
		}
		a {
			color: $bright;
			font-family: $para;
			padding-right: 0.5em;
		}
	}
}

.gallery-more {
	margin-bottom: 1em;
	background-color: $dusty;
	h3 {
		padding-top: 0.5em;
	}
	.more-gallery-inner {
		width: 95%;
		margin: 0 auto;
		.left, .right {
			p {
				margin: 0;
				padding: 1em 0;
				a {
					
					color: $paper;
					font-family: $new;
					&:hover {
						color: $bright;
					}
				}
			}
			
		}
		.right {
			text-align: right;
		}
	}
	
}
