@media only screen and (max-width: 900px) { 
	.news {
		.the-post {
			width: 100%;
			margin: 0;
			padding: 0;
			padding: 1em;
			height: 600px;
			.post-inner-info {

				.post-pic {
					height: 450px;
				}
			}
		}
	}
}


@media only screen and (max-width: 750px) { 

	.title.hide {
		display: none;
	}
	.mobile-title {
		display: block;
	}
	.no-mobile {
		display: none;
	}
	
	.galleryContent {
		.main-galleryContainer {
			width: 100%;
			margin-left: 8.6666666666667%;
		}
	}
	footer {
		.footer-inner {
			.section {
				width: 100%;
			}
		}
	}

	.news-blog {
		.the-post {
			width: 100%;
			padding: 0;
			margin: 0;
			padding: 1em;
			margin-bottom: 1em;
		}
	}
}

@media only screen and (max-width: 600px) { 
	.mobile-title {
		h1 {
			font-size: 4rem;
		}
	}
	.image-links {
		margin: 0;
		.the-links {
			margin: 0;
			.images {
				width: 100%;
				margin: 0;
				margin-bottom: 1em;
			}
		}
		
	}
}

@media only screen and (max-width: 470px) { 
	.mobile-title {
		h1 {
			font-size: 3.5rem;
		}
	}
	.gallery {
		position: relative;
    	margin: 0 auto 20px;
    	display: table;
	}
}

@media only screen and (max-width: 400px) { 
	.mobile-title {
		h1 {
			font-size: 3rem;
		}
	}
	.welcomeHero {
		height: 345px;
	}
}